<div class="filters">
  <mat-form-field>
    <mat-label>Sort</mat-label>
    <mat-select
      panelClass="sort-select"
      [(ngModel)]="sort"
      (selectionChange)="searchGames(sort, '1', searchValue)"
    >
      <mat-option value="name">Name</mat-option>
      <mat-option value="-released">Released</mat-option>
      <mat-option value="-added">added</mat-option>
      <mat-option value="-created">Created</mat-option>
      <mat-option value="-updated">Updated</mat-option>
      <mat-option value="-rating">Rating</mat-option>
      <mat-option value="metacritic">Metacritic</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<cdk-virtual-scroll-viewport itemSize="300 + 280" class="games" #scroller>
  <div [ngClass]="{ item: isShowSkeleton }">
    <ngx-skeleton-loader
      *ngIf="isShowSkeleton"
      count="15"
      appearance="circle"
      [animation]="'progress-dark'"
      [theme]="{
        width: '280px',
        height: '330px',
        margin: '10px',
        'background-color': '#202020',
        'border-radius': '5px',
        'animation-duration': '2s',
        'box-shadow': '4px 3px 4px 0px rgba(200, 152, 44, 0.3)'
      }"
    >
    </ngx-skeleton-loader>
  </div>
  <ng-container *ngIf="!isShowSkeleton">
    <ng-container *cdkVirtualFor="let game of games">
      <app-game-badge [game]="game"></app-game-badge>
    </ng-container>
  </ng-container>
</cdk-virtual-scroll-viewport>
